/* style.css */

body {
    background-color: darkslategray;
    font-family: Helvetica, sans-serif;
    line-height: 1.25;
    color:blanchedalmond;
    padding: 25px 75px 75px 50px;
}

/*Links */

a {
    font-weight: bold;   
}

a:visited{
    color: red;
}


*/* TABLES */*

table {
    padding: 10px;
}